<div class="container">
    <!-- Content here -->
     <div class="row mt-2">
        <div class="col-12 text-center">
            <!-- <mat-form-field>
                <mat-label>Enter your password</mat-label>
                <input matInput/>
                <button
                  mat-icon-button
                  matSuffix
                >
                  
                </button>
              </mat-form-field> -->
              <mat-icon fontIcon="search"></mat-icon>
        </div>
     </div>

  </div>